import { <%= uppercaseName %>Sevice } from './<%= componentName %>.service';

describe('<%= componentName %>', () => {

    let <%= lowercaseName %>Service: <%= uppercaseName %>Sevice;
    let $log: ng.ILogService;

    beforeEach(() => {
        <%= lowercaseName %>Service = new <%= uppercaseName %>Sevice($log);
    });

    it(`tests <%= componentName %>Service's sanity`, () => {
        expect(<%= lowercaseName %>Service).toBeDefined();
    });
});